#Created by Ashwini to ignore files not to be tracked

# Dependency directories
node_modules/

#packagelock
package-lock.json

#Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

#html report folder
*html/

#Intellij
*.iml
*.iws
.idea


